.image-div {
  width: 300px;
  height: 300px;
}

.selected-woman {
  background-image: url("/src/assets/images/woman-colored.png");
}

/* .not-selected-woman {
  background-image: url("../../../../../assets/images/woman-basic.png");
}

.selected-man {
  background-image: url("../../../../../assets/images/man-colored.png");
}

.not-selected-man {
  background-image: url("../../../../../assets/images/man-basic.png");
} */
