* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Figtree", Avenir, Arial, sans-serif;
  --blue: #016ae6;
  --pink: #f65b96;
  --placeholder-color: #999fb7;
  --border-gray: #cccfdb;
  --text: #00114b;
  --white: #fff;
}

body {
  font-family: "Figtree", Avenir, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
